extends layouts/Header.pug
block headerButton
    button#markNotificationAsRead
        i.fas.fa-check-double  
block content 
    .resultsContainer
block scripts 
    script(src="/js/notificationsPage.js") 